nav.navbar.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#") 周杰倫
    .nav.navbar-nav.navbar-right
      li
        a(href="#section_ask") 引言 INTRO
      li
        a(href="#section_about") 簡介 ABOUT
      li
        a(href="#section_video") 影片 VIDEO
      li
        a(href="https://boyanw81.github.io/boyan111/", target="_blank") 主持人 TUTOR
header.jumbotron
  .container
    h1 周杰倫 Jay Chou
    hr
    h4 Queen Of Hearts 世界巡迴演唱會
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h2 誰是周杰倫
section#section_about
  .container
    .row
      .col-sm-12
        h1 周杰倫 Jay Chou
        hr
      .col-sm-4
        .img_wrap
        img(src="https://goo.gl/AUh2w8", alt="")
        h3 Jay Chou
        p “Get Everybody Moving”即“让大家动起来”；而GEM也有“珍宝”之意。
      .col-sm-4
       .img_wrap
        img(src="https://goo.gl/dpFmjG", alt="")
        h3 邓诗颖
        p 出生于中国上海，四岁时移居英属香港，是一名华语创作歌手。
      .col-sm-4
       .img_wrap
        img(src="https://goo.gl/kZ2EnW", alt="")
        h3 音樂是唯一語言
        p 1991年出生的香港創作型女歌手鄧紫棋（G.E.M.）是頗受全球華人青年一代喜愛的新生代藝人，16歲出道以來唱片銷量火爆、得獎無數，並因參與歌唱真人秀吸引各個年齡段觀眾群的關注。
  section#section_video
    .container
      .row
        .col-sm-12
          h1 周杰倫 / MV
          hr
        .col-sm-12
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="https://www.youtube.com/embed/9q7JOQfcJQM", allowfullscreen="")
  